<settings>
    <profiles>
        <profile>
            <id>artifactory-cache</id>
            <repositories>
                <repository>
                    <id>libs-release</id>
                    <url>http://172.17.0.1:8081/artifactory/libs-release</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>libs-snapshot</id>
                    <url>http://172.17.0.1:8081/artifactory/libs-snapshot</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>plugins-release</id>
                    <url>http://172.17.0.1:8081/artifactory/plugins-release</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>plugins-snapshot</id>
                    <url>http://172.17.0.1:8081/artifactory/plugins-snapshot</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>artifactory-cache</activeProfile>
    </activeProfiles>
</settings>
